/*
    YOOOO I COMMENTI FATTI BENE RISPETTO A QUELLA CAGATA SU HTML <!-- --> !!! SÌÌÌÌÌ
    
    Selettore{
        proprietà: valore;
        proprietà: valore;
    }
    in ordine di priorità:
    #id{
        color: vert;
    }
    .class{
        color: green;
    }
    htmlTAG{
        color: grun;
    }
    background, color, width, height, border
*/

/* intestazione */
header{
    text-align: center;
    background-color: rgb(165, 165, 165);
}
.accaerre{
    border-color: #927108;
}
/* da qui inizia il CV, categoria 1: esperienze/requisiti*/
.requ{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
/* Categoria 2: esperienze */
.expu{
    font-size: 25px; 
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
/* Categoria 3: descrizione */
.parg{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
/* avevo scordato di mettere il bordino in fondo alla pagina.*/
.curriculo{
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #927108;
}