/*
    YOOOO I COMMENTI FATTI BENE RISPETTO A QUELLA CAGATA SU HTML <!-- --> !!! SÌÌÌÌÌ
    
    Selettore{
        proprietà: valore;
        proprietà: valore;
    }
    in ordine di priorità:
    #id{
    }
    .class{
    }
    htmlTAG{
    }
    background, color, width, height, border
*/

/* intestazione */
.testa{
    text-align: center;
    background-color: rgb(165, 165, 165);
}
.accaerre{
    border-color: #927108;
}
/* da qui inizia il CV, categoria 1: esperienze/requisiti*/
.requ{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
/* Categoria 2: esperienze */
.expu{
    font-size: 25px; 
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
/* Categoria 3: descrizione */
.parg{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
/* avevo scordato di mettere il bordino in fondo alla pagina.*/
.curriculo{
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #927108;
    padding: 8px;
}
/* referred in /esercizio 4.html/ */
.row{
    margin: auto;
    border-radius: 2px;
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
}
.subject{
    background-color:rgb(138, 138, 138);
    display: inline-block;
    width: 40%;
}
.body{
    background-color: rgb(189, 189, 255);
    display: inline-block;
    width: 58%;
}
.contenitore{
    margin: auto;
}
.head{
    width: 1200px;
    margin: auto;
    padding: 50px;
    padding-bottom: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 500%;
}
.gunther{
    width: 1200px;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
}
.unreadmail{
    font-size: medium;
}
.barracerca{
    width: 1200px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(84, 148, 173);
    margin-top: 0px;
}